<h2>About Highfive Tuesdays</h2>
<p>Highfive Tuesdays is a weekly highfive competition. As you have probably guessed, it occurs each Tuesday. The goals of Highfive Tuesdays are to encourage interdepartmental interaction and to just have a bit of fun during the week.</p>

<h3>Rules</h3>
<p>The rules are pretty basic:</p>
<ol>
	<li>All claimed highfives must have taken place in person.</li>
	<li>You may only highfive the same person 3 times total each day.</li>
	<li>Use your own best judgement.</li>
</ol>
<p>We're using the honesty policy for this, so we're trusting that everyone is actually highfiving here. That's the point! There's no point in cheating.</p>
